@import '../../assets/styles/vars';

.promoValid {
  font-weight: 900;
  font-size: 20px;
  color: #4cc700;
}


.promoInvalid {
  font-weight: bold;
  font-size: 13px;
  color: #FF0000;
  text-align: right;
  width: 100%;
}

.order-promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 586px;
  width: 100%;
  padding: 30px 60px;
  background-color: #FCFCFC;
  border: 1px solid #BEBEBE;
  border-radius: 15px;
  grid-row: 3 / span 1;
  grid-column: 1;


  &__label {
    font-size: 20px;
    color: #393939;
    text-align: center;
    font-weight: 300;
  }

  &__box {
    position: relative;
  }

  &__input {
    margin-top: 24px;
    height: 49px;
    @extend %input;
  }

  &__btn {
    margin-top: 24px;
    @extend %btn;

    &--loading {
      @extend %btn--loading;
    }
  }
  @media (max-width: 900px) {
    grid-row: 2;
  }
  @media (max-width: 700px) {
    padding: 30px;
    &__label {
      font-size: 16px;
    }
    &__input {
      height: 40px;
      margin-top: 15px;
    }
    &__btn {
      margin-top: 15px;
      font-size: 16px;
    }
  }
}

.order-delivery {
  grid-column: 2;
  grid-row: 1;
  &__label {
    font-weight: 400;
  }
  @media (max-width: 900px) {
    grid-column: 1;
    grid-row: 3;
  }
  @media (max-width: 700px) {
    &__label {
      font-size: 15px;
    }
  }
}



