.order__total-item--promo {
  width: 100%;
  height: 210px;
  margin-top: 36px;
  border: 1px solid #000;
  border-radius: 10px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
  padding: 30px 60px;
  position: relative
}

.promo__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  width: 100%
}

.promo__btn {
  font-weight: 900;
  font-size: 20px;
  color: #000;
  border: none;
  background-color: transparent;
  padding-bottom: 3px;
  border-bottom: 3px solid #000;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}

.promo__btn:hover {
  padding-bottom: 10px
}

.promoValid {
  font-weight: 900;
  font-size: 20px;
  color: #4cc700;
  border: none
}

.promoInvalid {
  position: absolute;
  left: 60px;
  top: 55%;
  font-weight: 500;
  font-size: 13px;
  color: red
}