.warranty {
  &__inner {
    padding: 2rem 0;
  }

  &__items-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1.5rem;

    ul {
      margin: 0;
      padding-left: 20px;
      gap: 1rem;
    }
  }
}

.delivery {
  &__inner {
    padding: 2rem 0;
  }

  &__desc {
    font-size: 16px;
  }

  &__items-title {
    font-weight: normal;
    font-size: 24px;
    margin: 1rem 0 0.8rem;
  }

  &__payment-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.delivery__title,
.warranty__title {
  font-size: 32px;
  padding: 1.5rem 0;
}
